
body {
background-image: url(img/images.jpg);
    background-repeat: no-repeat;
     background-attachment: fixed; 
     background-size: cover; }
   
   
     
     body {
    display: flex;
     justify-content: center;
     align-items: center; 
     height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.player {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-top: 50px;
}

button {
   
    padding: 5px 10px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.time {
    margin-top: 10px;
}
